<html>
    <head>
        <title>Da Best Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Welcome to my first blog</a></h1>
        </div>

        <div>
            <p>for google code-in/ openwisp</p>
            <h2><a href="">A little info bout me</a></h2>
            <p>So i am new to programming but i know i enjoy it immensely. Anyway this is my third task for GCI and i have to say it is the one i am enjoying most. Openwisp seems to be a great source to learn and the DjangoGirls are great(you were right; for both genders:p). Anyway so hope this goes well, fingers cossed!</p>
        </div>

        <div>
            <p>here we go...</p>
            <h2><a href="">My first post(yay)</a></h2>
            <p>blah bkah blah blah blah blah blah blah blah blah blah blahblahblahblahblahblahblahblahblahblahblahblah</p>
        </div>
    </body>
</html>
